version: '3'
services:
   mydb:
      build: ./mysql
      ports:
        - "3307:3306"
      env_file: 
        - ./mysql/.env  
      restart: always

   web:
      build: ./tomcat
      volumes:
         - ./tomcat/gameoflife.war:/usr/local/tomcat/webapps/gameoflife.war
      ports:
         - "8088:8080"
      restart: always
