version: '3'
services:
   mydb:
      build: ./mysql
      ports:
        - "3307:3306"
      env_file: 
        - ./mysql/password.env  
      restart: always

   web:
      build: ./tomcat
      ports:
         - "8088:8080"
      restart: always
